/*#00986f*/

/*font-family: 'Roboto Mono', monospace;*/



/*animacje */

/*page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.page{
    overflow: hidden;
}
section{
    min-height: 100vh;

}

.home{
   min-height:100vh;
    background-image: url("images/backgroundForPort.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.home__background{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}
.home__container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__welcome {
color: white;
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 5px;
}

.home__name {
    color: #fff;
    font-size: 4vh;
    font-weight: normal;
}

.home__job {
    color: white;
    font-size: 3vh;
    font-weight: lighter;
    margin-bottom: 20px;
}
.home__btn{
    padding: 10px 15px;
    font-size: 2vh;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    width: 60vw;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

}
.home__btn:hover{

    background-color: #00986f;
}
.fa-arrow-right{
    transition: 0.3s;
}
.routeArrow{
    transform: rotate(90deg);
}
/*nav*/
.home__menu{
    background-color: #1d2026;
    border-radius: 10%;
    position: absolute;
    width: 100%;
    bottom: -1%;
    right: 0%;
}
.home__lists {
    list-style: none;
    display: flex;
}
.home__link {
    text-decoration: none;
    color: white;
    float: right;

}


@media(orientation: portrait){

}
@media(orientation: portrait) and (min-width: 280px) and (max-width: 300px){

}

@media(orientation: portrait) and (min-width: 360px){

}
@media(orientation: portrait) and (min-width: 375px) and (min-height: 812px){

}

@media(orientation: portrait) and (min-width: 411px) and (min-height: 823px){

}
@media(orientation: portrait) and (min-width: 540px) {

}
@media(orientation: portrait) and (min-width: 768px){

}

@media(orientation: portrait) and (min-width: 1024px){

}




/*landscape*/
@media(orientation:landscape) {


}
/*about me*/
.aboutMe{
    /*background-color: #1d2026;*/
}

.mainColor{
    color: #00986f;
}